{% extends 'layout.html' %} {% block title %}Password{% endblock %} {% block content %}
<h2>Change Password</h2>
<div>
    <p>Fill out the fields below:</p>
    <table>
        <tr>
            <form action="{{ url_for('password') }}" method="post" autocomplete="off">
                <td>Change password:</td>
                <td><input type="password" placeholder="New Password" id="newPW" name="newPW" required></td>
                <td><input type="password" placeholder="Confirm New Password" id="confPW" name="confPW" required></td>
                <td><input type="submit" value="Change Password"></td>
            </form>


            <div class="msg">{{ msg }}</div>

        </tr>
    </table>
</div>
{% endblock %}